.places{
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    width: 76.875%;
	border: 1px solid red;
	box-sizing: border-box;
}

@media screen and (min-width:1024px) and (max-width: 2079px) {
	.places{
		width: 90.625%;
	}
}

@media screen and (min-width:768px) and (max-width: 1023px){
	.places{
        margin-top: 88px;
		width: 93.75%;
        gap: 73px;
	}
}

@media screen and (min-width:320px) and (max-width: 767px){
	.places{
		width: 100%;
		margin-top: 64px;
        gap: 50px;
	}
}