.footer{
    margin-top: 92px;
    margin-bottom: 24px;
    display: flex;
    min-width: 1184px;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width:1024px) {
	.footer{
        min-width: 928px;
	}
}

@media screen and (max-width:768px) {
	.footer{
        min-width: 720px;
        margin-top: 88px;
	}
}

@media screen and (max-width:320px) {
	.footer{
        flex-direction: column;
        min-width: 186px;
        margin-top: 64px;
        gap: 48px;
	}
}