.footer{
    margin-top: 92px;
    margin-bottom: 24px;
    display: flex;
    width: 92.5%;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid red;
    box-sizing: border-box;
}

@media screen and (max-width:1024px) {
	.footer{
	min-width: 90.625%;
	}
}

@media screen and (max-width:768px) {
	.footer{
	min-width: 93.75%;
        margin-top: 88px;
	}
}

@media screen and (min-width:320px)  and (max-width:767px){
	.footer{
        flex-direction: column;
        min-width: 90%;
        margin-top: 64px;
        gap: 48px;
	}
}