.header__lang-links{
    display: flex;
    gap: 18px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.2s linear;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
}

.header__lang-links:hover{
    opacity: 0.8;
}